body {
    background-color: darkgrey;
    color: black;
    font-family: open sans, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#courses-list {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Contacts {
    padding: 0.5%;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}